<% recent_spaces.each do |space| %>
  <ul>
    <li><a href="/spaces/<%= space.id %>"><%= space.name %></a></li>
    <li><%= space.description %></li>
    <li><%= space.price %></li>
    <li><%= space.from.strftime("%d/%m/%y") %></li>
    <li><%= space.to.strftime("%d/%m/%y") %></li>
  </ul>
<% end %>
